# For more details on how to configure Wrangler, refer to:
# https://developers.cloudflare.com/workers/wrangler/configuration/

name = "acmcsuf-com"
main = ".svelte-kit/cloudflare/_worker.js"
compatibility_date = "2026-01-04"
compatibility_flags = [ "nodejs_als", "nodejs_compat" ]

[assets]
binding = "ASSETS"
directory = ".svelte-kit/cloudflare"

[observability]
[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true
persist = true

# ==== Route/Domain Configuration ==================================================================
workers_dev = true
# https://developers.cloudflare.com/workers/configuration/previews/
preview_urls = true  # To use: `wrangler versions upload -e [env-name]`

# This uses vars defined in .env.production (make sure debug is off!)
[env.production]
routes = [
  { pattern = "acmcsuf.com", custom_domain = true }
]

# More environments like [env.staging] can be created here, and they can be deployed
# with `wrangler deploy -e staging` or whatever the env is called.
